*.swp
package-lock.json
__pycache__
.pytest_cache
.env
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

rds_config.py
test
# The trained weights for the neural network, it's a pretty big file
model_final.pth
# fill_rds.py in the utilities directory needs to download a large json file full of headlines
#  for the current year, so make sure it's not included
utilities/data/*